*{
    margin: 0;
    padding:0;

} 
body{
    background-color: rgba(0, 0, 0, 0.296);
}

.logoImg{
    width:40px;
    height:40px;
}

nav{
    display:flex;
    justify-content:space-between;
    
}
.hero{
    margin-left: 30px;
    margin-right: 30px;
    display:flex;
    justify-content:space-between;
 
}
a{
    color: rgb(12, 12, 94);
    text-decoration: none;
}
nav a:hover{
    color: rgb(56, 3, 3);
    border-bottom: 1px solid black;
}
.left{
    margin-top: 110px;
    width:50vw;
}
.right{
    width:40vw;
}
p{
    margin-top: 20px;
    line-height: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
}
p::first-line{
   
    color:brown;
    font-style: bold;
    
}
hr{
    background-color: black;
    height:2px;
    border: 2px;
    border-color: brown;
}
h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 1px 1px 2px rgb(202, 34, 62), 1px 1px 1px rgb(202, 34, 62);
}
a.talk{
    font-weight: bold;
    background-color: rgba(0, 0, 255, 0.423);
}
.contactForm{
    display: flex;
    justify-content: left;
}
.contactFormSpan{
    margin-top:10px;
    margin-right: 10px;
    font-weight: 600;
}
img.clip1{
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
}